body {
    background-color: #9be7eb;
}

.lateral {
    background-color: antiquewhite;
    height: 110%;
    width: 7%;
    position: fixed;
    z-index: 0;
    left: -10px;
    top: -10px
}

#cachorro {
    z-index: 1;
    position: fixed;
    width: 5%;
    height: 10%;
}