body {
    background-color: #9be7eb;
}

.lateral {
    background-color: antiquewhite;
    height: 110%;
    width: 7%;
    position: fixed;
    z-index: 0;
    left: -2px;
    top: -10px;
}

#cachorro {
    z-index: 1;
    position: fixed;
    width: 4.5%;
    height: 10%;
    padding: 1.5%;
    margin-top: 1.5%;
}

.botoes {
    background-color: #b7f7fa;
    position:relative;
    width: 92%;
    border-radius: 20px;
    left: 67px;
    justify-content: center;
    align-items: center;
}

.opc {
    padding: 1.5%;
    margin-inline: 3%;
    border: none;
    width: 9%;
    color:rgb(21, 75, 119);
    text-align:start;
    font-size: 10px;
    background-color: #b7f7fa;
    font-family:fantasy;
}

.opc:hover {
    background-color: rgb(80, 199, 235);
    color:white;
    transition: .3s;
}