
* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
body {
    background-color: red;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    background-color: white;
    height: auto;
    min-height: 100vh;
    width: 95vw;
    display: flex;
    z-index: 1;
}

.lateral {
    position: sticky;
    top: 0;
    padding: 7px;
    align-self: flex-start;
    height: auto;
    width: 25%;
    display: flex;
    justify-content: center;
}

.title {
    width: auto;
    height:auto;
    position: sticky;   
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
}

.title img {
    object-fit: contain;
    height: 4.5vh;
}

.title h6 {
    letter-spacing: 0.4vw;
    font-size: .65vw;
}

#imgbolo {
    margin: 8vh;
    height: 75vh;
    max-width: 20vw;
    object-fit:fill;
    animation: bolo 5s infinite alternate-reverse;
    min-width: 20vw;
    background-position-x: -180px;
}

.main {
    height: auto;
    min-height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
}

.info {
    height: auto;
    width: 100%;
    font-size: 100px;
    z-index: -1;
    word-break: break-all;
    margin-right: 1vw;
}

.buttonarray {
    display: flex;
    justify-content: space-between;
}

.buttonarray button {
    font-weight: bolder;
    margin: 2vh;
    padding: 3vh;
    padding-inline: 7vw;
    max-width: 50vw;
    font-size: 15px;
    border: 5px solid black;
    background-color: white;
    border-radius: 20px;
}

.barow {
    margin: 3vh;
    display: flex;
}

.ba1, .ba2 {
    flex: 1;
    word-break: keep-all;
}

.ba1 .item, .ba2 .item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.ba1 h1, .ba2 h1 {
    font-size: 3vw;
}

.ba2 h1 {
    text-align: right;
}

.item button {
    background-color: white;
    border: none;
    margin-inline: 1vw;
    margin-top: 1.5vw;
}

.ba1 .item button {
    margin-right: 12px; /* Espaço entre botão e h1 */
}

.ba2 .item button {
    margin-left: 12px; /* Espaço entre h1 e botão */
}

.barow img {
    object-fit: contain;
    width: 8vw;
    max-height: 70%;
}

.main footer {
    align-self: flex-end;
}

.topic {
    font-size: 3vw;
    margin-top: 10vh;
}

.topic p {
    font-size: 1.9vw;
    text-align: right;
}

.info footer {
    margin: 1vw;
    margin-top: 5vh;
    text-align: right;
    font-size: 1vw;
}

@keyframes bolo{
    0% {background-image: url("https://www.shutterstock.com/image-photo/friends-celebrating-chocolate-birthday-cake-600nw-2381927951.jpg")}
    25% {background-image: url("https://media.istockphoto.com/id/1049274384/photo/close-up-of-birthday-cake-being-cut-into-slices.jpg?s=612x612&w=0&k=20&c=zeTaC0jX8LQQj-JaVFZwWjMsz0Gq_28oHBVGzFeQD0E=")}
    50% {background-image: url("https://imgcdn.stablediffusionweb.com/2024/10/2/246d7902-fbfa-4dd3-a97d-a099ee871143.jpg")}
    75% {background-image: url("https://c8.alamy.com/comp/BAM065/group-of-young-people-cutting-birthday-cake-BAM065.jpg")}
    100% {background-image: url("https://plus.unsplash.com/premium_photo-1675261617969-b8763662b0bc?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDQ0fHx8ZW58MHx8fHx8")}
}
